<?xml version="1.0" encoding="utf-8"?>
<!-- AR Reverted to 2.1, removed android:installLocation="preferExternal"> -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.androidimageprocessing.bacteria"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <application
        android:icon="@drawable/mwater"
        android:label="@string/app_name" android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        <activity
            android:label="@string/app_name"
            android:name=".ui.MainActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity"
            android:label="Login"></activity>
        <activity
            android:label="Sources"
            android:name=".ui.SourcesActivity">
        </activity>
        <activity android:name=".ui.SourceDetailActivity"
            android:label="Source"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:label="@string/app_name"
            android:name=".ui.PetrifilmTestListActivity" >
        </activity>
        <activity android:name=".ui.PetrifilmCameraActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation">

        </activity>
        <activity android:name=".ui.PetrifilmTestDetailsActivity"
                  android:label="@string/app_name"
                  android:configChanges="keyboardHidden|orientation">

        </activity>
        <service android:name=".PetriFilmProcessingIntentService"></service>
        <provider android:name="com.github.androidimageprocessing.bacteria.db.MWaterContentProvider"
             android:authorities="com.github.androidimageprocessing.bacteria" android:exported="false" />
   </application>
</manifest>
