<?xml version="1.0" encoding="utf-8"?>
<!-- AR Reverted to 2.1, removed android:installLocation="preferExternal"> -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.mwater.clientapp"
    android:versionCode="13"
    android:versionName="0.23" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" 
        android:required="false"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/mwater"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar"
        android:name="MyApplication" >
        <uses-library android:name="com.google.android.maps"/>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="Login">
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:label="Signup">
        </activity>
        <activity
            android:name=".ui.map.SourceMapActivity">
        </activity>
        <activity
            android:name=".ui.SourceListActivity"
            android:label="Sources" >
        </activity>
        <activity
            android:name=".ui.SourceDetailActivity"
            android:label="Source"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.SourceNoteListActivity"
            android:label="Samples" >
        </activity>
        <activity
            android:name=".ui.SourceNoteDetailActivity"
            android:label="Sample"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.SampleListActivity"
            android:label="Samples" >
        </activity>
        <activity
            android:name=".ui.SampleDetailActivity"
            android:label="Sample"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.TestListActivity"
            android:label="Tests" >
        </activity>
        <activity android:name=".ui.TenMLColilertDetailActivity" >
        </activity>
        <activity android:name=".ui.TenMLColilertRecordActivity" >
        </activity>
        <activity android:name=".ui.HundredMLEColiDetailActivity" >
        </activity>
        <activity android:name=".ui.HundredMLEColiRecordActivity" >
        </activity>
        <activity android:name=".ui.petrifilm.PetrifilmTestDetailActivity" >
        </activity>
        <activity android:name=".ui.petrifilm.PetrifilmManualCountActivity" >
        </activity>
        <activity
            android:name=".ui.petrifilm.PetrifilmCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>

        <service android:name=".dbsync.SyncIntentService" >
        </service>
        <service android:name=".petrifilmanalysis.PetriFilmProcessingIntentService" >
        </service>

        <provider
            android:name="co.mwater.clientapp.db.MWaterContentProvider"
            android:authorities="co.mwater.clientapp"
            android:exported="false" />
    </application>

</manifest>